<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <div id="wrap" class="wrap">
        <header class="header" role="banner">
            <div class="header_inner">
                <h1 class="logo_bumil">
                    <img src="/images/logo_bumil.jpg" onclick="document.location.reload();">
                </h1>
            </div>
        </header>

        <div id="container" class="container">
            <!-- content -->
            <div class="content">
                <div class="login_wrap">
                    <form action="/member/index" method="post">
                        <ul class="panel_wrap">
                            <li class="panel_item" style="display: block;">
                                <div class="panel_inner" role="tabpanel" aria-controls="loinid">
                                    <div class="id_pw_wrap">
                                        <div class="input_row" id="id_line">
                                            <div class="icon_cell" id="id_cell">
                                                <span class="icon_id">
                                                    <span class="blind">아이디</span>
                                                </span>
                                            </div>
                                            <input type="text" name="memberId" placeholder="아이디" class="input_text" maxlength="41" value="" style="border: none">
                                            <span role="button" class="btn_delete" id="id_clear" style="display: none;">
                                                <span class="icon_delete">
                                                    <span class="blind">삭제</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="input_row" id="pw_line">
                                            <div class="icon_cell" id="pw_cell">
                                                <span class="icon_pw">
                                                    <span class="blind">비밀번호</span>
                                                </span>
                                            </div>
                                            <input type="password" name="memberPassword" placeholder="비밀번호"class="input_text" maxlength="32" style="border: none">
                                            <span role="button" class="btn_delete" id="pw_clear" style="display: none;">
                                                <span class="icon_delete">
                                                    <span class="blind">삭제</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="login_error_wrap" id="err_capslock" style="display: none;">
                                        <div class="error_message">
                                            <strong>CapsLock</strong>이 켜져 있습니다.
                                        </div>
                                    </div>

                                    <div class="login_error_wrap" id="err_empty_id" style="display: none;">
                                        <div class="error_message">
                                            <strong>아이디</strong>를 입력해 주세요.
                                        </div>
                                    </div>

                                    <div class="login_error_wrap" id="err_empty_pw" style="display: none;">
                                        <div class="error_message">
                                            <strong>비밀번호</strong>를 입력해 주세요.
                                        </div>
                                    </div>
                                    <div class="login_error_wrap" id="err_common" style="display:none;">
                                        <div class="error_message" style="width:90%">
                                        </div>
                                    </div>
                                    <div class="btn_login_wrap">
                                        <button type="submit" class="btn_login" id="log.login">
                                            <span class="btn_text">로그인</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
                <ul class="find_wrap" id="find_wrap">
                    <li><a target="_blank" href="/member/forgot-password">비밀번호 찾기</a></li>
                    <li><a target="_blank" href="https://nid.naver.com/user2/api/route?m=routeIdInquiry&amp;lang=ko_KR" class="find_text">아이디 찾기</a></li>
                    <li><a href="/member/save">회원가입</a></li>
                    <li><a href="/member/">회원목록</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>